<div class="footer">
  <div class="footer__top">
    <div class="footer__top-container container__sidemargin container__maxwidth container__center">
      <a href="/" class="footer__logo">
        <img src="/mkcbiotherapeutics/assets/logo.svg" />
      </a>

      <div class="divider"></div>

      <div class="footer__top-links">
        <a href="#" class="footer__top-link">Overview</a>
        <a href="#" class="footer__top-link">Values</a>
        <a href="#" class="footer__top-link">Executive Leadership</a>
        <a href="#" class="footer__top-link">Board of Directors</a>
      </div>

      <div class="divider"></div>

      <div class="footer__top-socials">
        <a href="" class="twitter">
          <img src="/mkcbiotherapeutics/assets/icons/twitter.svg" />
        </a>
        <a href="" class="linkedin">
          <img src="/mkcbiotherapeutics/assets/icons/linkedin.svg" />
        </a>
      </div>
    </div>
  </div>
  <div class="footer__bottom">
    <div class="footer__bottom-container container__sidemargin container__maxwidth container__center">
      <div class="container container1">
        <div class="title">Contact</div>
        <div class="links">
          <div class="link">
            <a class="footer__bottom-anchor" href="mailto:info@mkcbiotherapeutics.com">
              <span><img src="/mkcbiotherapeutics/assets/icons/email.svg" /></span>
              <span>info@mkcbiotherapeutics.com</span>
            </a>
          </div>
          <div class="link">
            <a class="footer__bottom-anchor" href="mailto:info@mkcbiotherapeutics.com">
              <img src="/mkcbiotherapeutics/assets/icons/email.svg" />
              <span>hr@mkcbiotherapeutics.com</span>
            </a>
          </div>
          <div class="link display_none">
            <a class="footer__bottom-anchor" href="mailto:info@mkcbiotherapeutics.com">
              <img src="/mkcbiotherapeutics/assets/icons/tty.svg" />
              <span>098998 9656546</span>
            </a>
          </div>
          <div class="link display_none">
            <a class="footer__bottom-anchor" href="mailto:info@mkcbiotherapeutics.com">
              <img src="/mkcbiotherapeutics/assets/icons/tty.svg" />
              <span>098998 9656546</span>
            </a>
          </div>
        </div>
      </div>
      <div class="container container2">
        <div class="title">Quick Links</div>
        <div class="parent-container">
          <div class="sub-container subcontainer1">
            <div class="links">
              <div class="link">
                <a href="#">
                  <div class="custom_li bgcolor-5"></div>
                  <span>Regenerative Medicine</span>
                </a>
              </div>
              <div class="link">
                <a href="#">
                  <div class="custom_li bgcolor-5"></div>
                  <span>Mechanism of Action</span>
                </a>
              </div>
              <div class="link">
                <a href="#">
                  <div class="custom_li bgcolor-5"></div>
                  <span>Technology Platform</span>
                </a>
              </div>
              <div class="link">
                <a href="#">
                  <div class="custom_li bgcolor-5"></div>
                  <span>CMC & Manufacturing</span>
                </a>
              </div>
            </div>
          </div>
          <div class="sub-container subcontainer2">
            <div class="links">
              <div class="link">
                <a href="#">
                  <div class="custom_li bgcolor-5"></div>
                  <span>Our Commitment to Research</span>
                </a>
              </div>
              <div class="link">
                <a href="#">
                  <div class="custom_li bgcolor-5"></div>
                  <span>Clinical Indications</span>
                </a>
              </div>
              <div class="link">
                <a href="#">
                  <div class="custom_li bgcolor-5"></div>
                  <span>Pipeline</span>
                </a>
              </div>
              <div class="link">
                <a href="#">
                  <div class="custom_li bgcolor-5"></div>
                  <span>Partner Pipeline</span>
                </a>
              </div>
              <div class="link">
                <a href="#">
                  <div class="custom_li bgcolor-5"></div>
                  <span>Publications & Presentations</span>
                </a>
              </div>
            </div>
          </div>
          <div class="sub-container subcontainer3">
            <div class="links">
              <div class="link">
                <a href="#">
                  <div class="custom_li bgcolor-5"></div>
                  <span>Partners</span>
                </a>
              </div>
              <div class="link">
                <a href="#">
                  <div class="custom_li bgcolor-5"></div>
                  <span>Investors</span>
                </a>
              </div>
              <div class="link">
                <a href="#">
                  <div class="custom_li bgcolor-5"></div>
                  <span>Press Release</span>
                </a>
              </div>
              <div class="link">
                <a href="#">
                  <div class="custom_li bgcolor-5"></div>
                  <span>Publications & Presentations</span>
                </a>
              </div>
              <div class="link">
                <a href="#">
                  <div class="custom_li bgcolor-5"></div>
                  <span>Careers</span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <hr />
    <div class="footer_bar container__sidemargin container__maxwidth container__center">
      <div class="footerbar__subcontainer footerbar-subcontainer1">
        © 2024 MKCB Biotherapeutics, Inc. All rights reserved.
      </div>
      <div class="footerbar__subcontainer footerbar-subcontainer2">
        <div>Privacy Policy</div>
        <div class="pipe">|</div>
        <div>Terms of Use</div>
      </div>
    </div>
  </div>
  <div class="footer_abs1">
    <img src="/mkcbiotherapeutics/assets/images/footer/footer_abs1.png" />
  </div>
  <div class="footer_abs2">
    <img src="/mkcbiotherapeutics/assets/images/footer/footer_abs3.png" />
  </div>
</div>