body {
  margin: 0;
  padding: 0;
  font-family: "Outfit", Arial, sans-serif;
}

:root {
  --primary-color: #57b38e;
  --secondary-color: #066d8b;
}

.container__sidemargin {
  padding-left: 15px;
  padding-right: 15px;
}

.primary-btn {
  background-color: #fd7401;
  border-radius: 4px;
  border: none;
  padding: 12px 40px;
  color: white;
  font-family: "Outfit", Arial, sans-serif;
}

h3 {
  font-size: 28px;
}

.overflow-hidden {
  overflow: hidden;
}

@media (min-width: 768px) {
  .container__maxwidth {
    max-width: 1170px;
  }

  .container__center {
    margin: 0 auto;
  }
}
