body {
  margin: 0;
  padding: 0;
  font-family: "Outfit", Arial, sans-serif;
  background-color: hsl(0, 0%, 95%);
}

:root {
  --primary-color: #57b38e;
  --secondary-color: #066d8b;
  --color1: #FD7401;
}

.color1-color {
  color: var(--color1);
}

.text_decoration_none {
  text-decoration: none;
}

.color-unset {
  color: unset;
}

.primary-color {
  color: var(--primary-color);
}

.secondary-color {
  color: var(--secondary-color);
}

.font-weight-500 {
  font-weight: 500;
}

p {
  font-size: 16px;
}

.container__sidemargin {
  padding-left: 15px;
  padding-right: 15px;
}

.primary-btn {
  background-color: var(--color1);
  border-radius: 4px;
  border: none;
  padding: 12px 40px;
  color: white;
  font-family: "Outfit", Arial, sans-serif;
}

h3 {
  font-size: 28px;
}

.overflow-hidden {
  overflow: hidden;
}

.card1__container {
  background-color: white;
  border-radius: 6px;
}

.card1-link {
  color: var(--color1);
}

.card1-maintext {
  color: var(--secondary-color);
  text-transform: capitalize;
}

.card1__img-container {
  padding: 5px 5px 0 5px;
}

.card1__text-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
}

.card1__text-container p {
  margin: 0;
}

.card1__img-container img {
  width: 100%;
}

.cards_container {
  padding-top: 20px;
  display: flex;
  gap: 20px;
  flex-direction: column;
}

.section3__container {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.section4__container {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding-top: 50px;
}

.card2__container {
  position: relative;
  padding: 20px;
  border-radius: 6px;
  box-shadow: 0px 0px 10px 0px #299CD41A;
  background: #fff;
  overflow: hidden;
  z-index: 0;
}

.card2__container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(165.92deg, #56B28D -2.79%, #0B718C 105.79%);
  z-index: -1;
  opacity: 0;
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.card2__container:hover::before {
  opacity: 1;
}


.card2__icon-container {
  display: inline-block;
  padding: 8px;
  background-color: white;
  border-radius: 6px;
}

.section4__cards {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.section4__cards .row {
  display: flex;
  gap: 20px;
}

.card2__icon-container {
  position: relative;
  display: inline-block;
  padding: 10px;
  border-radius: 8px;
  background: linear-gradient(180deg, #066D8B 0%, #5FBA8D 100%);
}

.card2__icon-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  background: #fff;
  margin-top: -3px;
}

.card2__icon-container img {
  position: relative;
  z-index: 2;
}

.card2__text-container {
  color: var(--secondary-color);
}

.card2__container:hover .card2__text-container {
  color: white;
}

.row .card2__container {
  flex: 1;
}

.stats_section {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding-top: 25px;
}

.stat_card {
  background-color: white;
  border-radius: 6px;
  padding: 10px 16px;
  box-shadow: 0px 0px 10px 0px #0B739033;
}

.stat_text {
  color: var(--secondary-color);
}

.stat_value {
  color: var(--primary-color);
}

.stat_text,
.stat_value {
  margin: 0;
}

.contactus_section {
  background: linear-gradient(90deg, #5FBA8D 0%, #066D8B 100%);
  margin-top: 25px;
  padding: 10px 0px;
}

.contact-text {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-text h3,
.contact-text p {
  margin: 0;
}

.contactus_form {
  gap: 10px;
  display: flex;
  flex-direction: column;
  padding-top: 15px;
}

.contactus_form .form-row {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.contactus_form .form-group {
  flex: 1;
}

.contactus_form .form-group input,
.contactus_form .form-group textarea {
  width: 100%;
  font-family: "Outfit", Arial, sans-serif;
  border-color: #A2B6E2;
  padding: 15px;
  box-sizing: border-box;
  border-radius: 4px;
  border-width: 1px;
}

.contactus_form input:focus,
.contactus_form textarea:focus {
  outline: none;
  border-color: transparent;
}

.contactus_section .submit__field {
  justify-content: center;
}

.page_banner h1 {
  margin: 0;
}

.page_banner {
  background-image: url('/mkcbiotherapeutics/assets/images/commonbanner/page_banner_bg.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: var(--secondary-color);
}

.page_banner-container {
  position: relative;
}

.page_banner-title {
  padding-top: 60px;
  padding-bottom: 50px;
}

.page_banner-absolute {
  position: absolute;
  top: 5%;
  right: 5px;
}

.card3__container {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 4px;
  padding: 12px;
}

.card3__heading-container {
  font-size: 25px;
  color: var(--primary-color);
}

.card3__texts-container {
  display: flex;
  flex-direction: column;
}

.card3-2textsubcontainer {
  display: flex;
  justify-content: space-between;
}

.card3__text-container.readmore {
  color: var(--color1);
}

.card3__text-container.date {
  display: flex;
  gap: 10px;
}

.homepage_news-section .news-bottomcards {
  display: flex;
}

.homepage_news-section .new_bottomcards-container {
  display: flex;
}

.homepage_news-section .card4__text-container {
  text-align: justify;
}

.homepage_news-section .card4_imgtext {
  display: flex;
  flex-direction: column;
}

.homepage_news-section .card4_datereadmore {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.homepage_news-section .card4__text-container.date {
  display: flex;
  gap: 10px;
}

.homepage_news-section .news_bottomcards-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.card3__image-container img,
.card4__image-container img {
  width: 100%;
}

.homepage_news-section .news-bottomcards .card4__container {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 4px;
  padding: 12px;
  gap: 8px;
}

.homepage_news-section .news_cards {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.homepage_news-section .card4__text-container.readmore {
  color: var(--color1);
}

.section3__container .heading_icon img {
  width: 60px;
}

.homepage-partners_and_investors {
  padding-top: 25px;
}

.homepage_news-section .news_viewallbtn {
  display: flex;
  justify-content: center;
  padding-top: 7px;
}

.homepage-partners_and_investors .section__subcontainer {
  padding: 20px 18px;
  background-color: white;
}

.homepage-partners_and_investors h3 {
  margin: 0;
}

.partners_investors-imgcontainer {
  position: relative;
}

.partners_investors-imgcontainer img {
  width: 100%;
  padding-top: 10px;
}

.homepage-partners_and_investors .about__mkc--texts {
  width: 100%;
}

.homepage-partners_and_investors .custom_li {
  width: 10px;
  height: 10px;
  display: inline-block;
  background-color: #5FBA8D;
  margin-right: 2px;
}

.homepage-partners_and_investors .card5__para p {
  margin: 0;
  padding-top: 4px;
  padding-bottom: 10px;
}

.homepage-partners_and_investors .card5__para .last_link {
  padding-bottom: 10px;
}

.card5__container {
  border-radius: 6px;
  box-shadow: 0px 0px 37.18px 0px #299CD433;
  background-color: white;
  border: 1px solid #FFFFFF80;
  padding: 20px;
}

@media (min-width: 768px) and (max-width: 990px) {

  .section4__container .about__mkc--texts,
  .section4__container .section4__cards {
    flex: 1;
  }
}

@media (min-width: 990px) {
  .card3__text-container {
    padding-right: 10px;
  }

  .homepage_news-section .news_cards {
    gap: 28px;
  }

  .homepage-partners_and_investors {
    padding-top: 55px;
  }

  .card5__container {
    position: absolute;
  }

  .card5__container.container1 {
    width: 28%;
    top: 5%;
    right: 10%;
  }

  .card5__container.container2 {
    width: 45%;
    top: 18%;
    left: 5%;
  }
}

@media (min-width: 1200px) {
  .container__sidemargin {
    padding-left: 0px;
    padding-right: 0px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .section3__container .about__mkc--texts {
    flex: 1;
  }
}

@media (min-width: 768px) {
  .container__maxwidth {
    max-width: 1170px;
  }

  .container__center {
    margin: 0 auto;
  }

  .cards_container {
    flex-direction: row;
    padding-top: 50px;
  }

  .section3__container {
    flex-direction: row;
    padding-top: 25px;
    justify-content: space-between;
  }

  .section4__container {
    flex-direction: row;
  }

  .section4__container {
    justify-content: space-between;
  }

  .section4__container .about__mkc--texts {
    width: 50%;
  }

  .section4__cards {
    width: 38%;
  }

  .stats_section {
    flex-direction: row;
    justify-content: space-between;
  }

  .stat_card {
    width: 100%;
  }

  .stats_section {
    padding-top: 50px;
  }

  .stat_text {
    font-size: 20px;
  }

  .stat_value {
    font-size: 28px;
  }

  .contactus_form .form-row {
    flex-direction: row;
    gap: 10px;
  }

  .card3__container {
    flex-direction: row;
    gap: 28px;
  }

  .card3__texts-container {
    justify-content: space-between;
    width: 80%;
  }

  .homepage_news-section .news_bottomcards-container {
    flex-direction: row;
    gap: 28px;
  }

  .homepage_news-section .card4_imgtext {
    flex-direction: row;
  }

  .homepage_news-section .card4_imgtext {
    gap: 20px;
  }

  .card4__image-container img {
    width: unset;
  }
}