.banner__image img {
  width: 100%;
}

.banner__texts {
  justify-content: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 10px;
}

.banner__title {
  font-weight: 600;
  color: #5bb78d;
}

.banner__subtitle {
  font-weight: 600;
  color: #0b718b;
}

.banner__texts h2,
.banner__texts h3,
.banner__texts p {
  margin: 0;
}

.bannerSwiper {
  overflow: hidden;
}

.swiper-pagination-bullet,
.swiper-pagination-bullet-active {
  border-radius: 0 !important;
  width: 6px !important;
}

.swiper-pagination-bullet {
  opacity: 1 !important;
  background-color: var(--secondary-color) !important;
  height: 8px !important;
}

.swiper-pagination-bullet-active {
  background-color: var(--primary-color) !important;
  height: 18px !important;
}

.bannerSwiper {
  background-image: url("/mkcbiotherapeutics/assets/images/banner/bg_image.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.swiper-pagination,
.swiper-button-next,
.swiper-button-prev {
  position: relative !important;
}

.swiper-pagination {
  margin-top: -10px !important;
}

.swiper-button-next {
  margin-top: 10px !important;
  right: -90% !important;
}

.swiper-button-prev {
  margin-top: -45px !important;
  left: 77% !important;
}

.swiper-pagination {
  justify-content: start;
  display: flex;
  align-items: end;
}

.swiper-button-prev:after,
.swiper-button-next:after {
  font-size: 25px !important;
  background: white;
  border-radius: 4px;
  padding: 10px 12px;
  color: #086f8b;
}

@media (min-width: 768px) {
  .banner__container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
  }

  .banner__title {
    font-size: 47px;
    font-weight: 600;
    line-height: 59.22px;
    color: #5bb78d;
  }

  .banner__subtitle {
    font-size: 28px;
    font-weight: 600;
    color: #0b718b;
  }

  .banner__texts .primary-btn {
    width: 28%;
  }

  .swiper-button-next {
    left: 95% !important;
    margin-top: 25px !important;
  }

  .swiper-button-prev {
    left: 90% !important;
    margin-top: -45px !important;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .banner__container {
    padding: 0 15px;
  }

  .banner__texts .primary-btn {
    width: 38%;
  }
}
