.page_banner {
    background-image: url('/mkcbiotherapeutics/assets/images/commonbanner/page_banner_bg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 60px;
    padding-bottom: 50px;
    color: var(--secondary-color);
}