.footer__bottom {
  background: linear-gradient(90.04deg, #5fba8d -75.54%, #066d8b 99.97%);
}

.footer__top-container {
  background-color: white;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  padding-top: 10px;
  padding-bottom: 10px;
}

.footer__top {
  background-image: url("/mkcbiotherapeutics/assets/images/footer/footer_bg_image.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  padding: 20px 0;
}

.footer__top-socials .twitter,
.footer__top-socials .linkedin {
  background: linear-gradient(144.34deg, #5fba8d -20.07%, #066d8b 134.47%);
  display: inline-block;
  padding: 10px;
}

.footer__top-link {
  text-decoration: none;
  color: #3a3a3a;
  font-weight: 500;
}

.footer__bottom-container {
  display: flex;
  flex-direction: column;
  color: white;
  gap: 20px;
  padding-top: 24px;
  padding-bottom: 24px;
}

.footer__bottom-container a {
  text-decoration: none;
  color: white;
}

.footer__bottom-container .custom_li {
  width: 10px;
  height: 10px;
  display: inline-block;
  /* background-color: #5fba8d; */
  margin-right: 2px;
}

.footer__bottom-anchor {
  display: flex;
  gap: 10px;
}

.footer__bottom-anchor span {
  color: white;
  display: flex;
}

.footer__bottom-container .parent-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footer__bottom-container .container {
  padding: 15px;
  background: #ffffff1a;
}

.footer__bottom-container .container1 .links {
  gap: 8px;
  display: flex;
  flex-direction: column;
}

.footer__bottom-container .container2 .sub-container .links {
  gap: 10px;
  display: flex;
  flex-direction: column;
}

.footer__bottom-container .title {
  font-size: 20px;
  padding-bottom: 15px;
}

.footer__bottom hr {
  margin: 0;
}

.footer_bar {
  padding-top: 20px;
  padding-bottom: 20px;
  color: white;
  justify-content: space-between;
  display: flex;
  flex-direction: column-reverse;
  gap: 15px;
}

.footerbar-subcontainer2 {
  display: flex;
}

.footerbar__subcontainer {
  display: flex;
  justify-content: center;
  text-align: center;
}

.footerbar__subcontainer .pipe {
  padding: 0px 10px;
}

#footer {
  padding-top: 30px;
}

@media (min-width: 768px) {
  .footer__top-container {
    flex-direction: row;
    z-index: 2;
    position: relative;
  }

  .footer__top .divider {
    background-color: #8fe6ff;
    width: 1px;
    height: 80px;
  }

  .footer__bottom-container {
    flex-direction: row;
    padding-top: 38px;
    padding-bottom: 38px;
  }

  .footer__bottom-container .parent-container {
    flex-direction: row;
  }

  .footer__bottom-container .container1 {
    width: 35%;
  }

  .footer__bottom-container .container2 {
    width: 71%;
  }

  .footer__bottom-container .subcontainer1 {
    width: 29%;
  }

  .footer__bottom-container .subcontainer2 {
    width: 35%;
  }

  .footer__bottom-container .subcontainer3 {
    width: 33%;
  }

  .footer_bar {
    flex-direction: row;
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .footer {
    padding-top: 50px;
  }
}

@media (max-width: 990px) {
  .footer__logo {
    width: 35%;
  }

  .footer__top-links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 35%;
    align-items: center;
  }

  .footer__top-socials {
    width: 28%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
  }
}

@media (min-width: 990px) {
  .footer__logo {
    width: 25%;
    justify-content: center;
    display: flex;
    align-items: center;
  }

  .footer__top-links {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
  }

  .footer__top-socials {
    width: 14%;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
  }

  .footer__top .divider {
    height: 65 px;
  }

  .footer__bottom-container .container {
    padding: 25px 25px 35px 25px;
  }

  #footer .footer__bottom-container .container {
    z-index: 2;
    position: relative;
  }
}

@media (max-width: 767px) {
  .footer__top-links {
    align-items: start;
    width: 100%;
    gap: 15px;
    padding: 10px 0;
  }

  .footer__top-socials {
    justify-content: start;
  }
}